In [1]:
from create_tables import main as main_drop_create

### Drop Tables if they exist and recreate them

In [2]:
main_drop_create()

In [3]:
from etl import main as main_etl

### Perform the ETL

In [ ]:
main_etl()

## Test queries

In [15]:
import configparser
import psycopg2
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [16]:
cur.execute('SELECT * from staging_events limit 1')
cur.fetchall()

[('Miami Horror',
  'Logged In',
  'Kate',
  'F',
  88,
  'Harrell',
  Decimal('250'),
  'paid',
  'Lansing-East Lansing, MI',
  'PUT',
  'NextSong',
  Decimal('1540472624796'),
  293,
  'Sometimes',
  200,
  1541548876796,
  '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"',
  97)]

In [17]:
cur.execute('SELECT * from staging_songs limit 1')
cur.fetchall()

[(1,
  'ARNUJQM1187FB3EE72',
  None,
  None,
  'Bergen County, NJ',
  'Number Twelve Looks Like You',
  'SOBIODA12A8C13CDAD',
  'Cradle the Crater',
  Decimal('258'),
  2007)]

In [18]:
cur.execute('SELECT * from songplay limit 1')
cur.fetchall()

[(10,
  datetime.datetime(9999, 4, 18, 23, 6, 36),
  97,
  'paid',
  'SOVOZSC12A8C144E73',
  'ART0ETO1187B9AB519',
  605,
  'Lansing-East Lansing, MI',
  '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [19]:
cur.execute('SELECT * from users limit 1')
cur.fetchall()

[(97, 'Kate', 'Harrell', 'F', 'paid')]

In [20]:
cur.execute('SELECT * from songs limit 1')
cur.fetchall()

[('SOJPZXU12A8C1391A7',
  'Vile We Dwell',
  'ARRSCOW1187FB494FA',
  2007,
  Decimal('230'))]

In [21]:
cur.execute('SELECT * from artist limit 1')
cur.fetchall()

[('ARGOJIK1187FB4C02C',
  'Youth Brigade',
  'Los Angeles, CA',
  Decimal('34'),
  Decimal('-118'))]

In [22]:
cur.execute('SELECT * from time limit 1')
cur.fetchall()

[(datetime.datetime(9999, 10, 7, 9, 39, 56), 9, 7, 41, 10, 50819, 1)]

In [23]:
conn.close()